<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="rainy-outline"></ion-icon> Weather App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image">


  <ion-grid *ngIf="temperaturasDiarias.length">
    <ion-row class="ion-justify-content-center">
      <ion-col size="6" *ngFor="let tiempo of temperaturasDiarias">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ tiempo?.day | date:"mediumDate" }}</ion-card-title>
            <ion-card-subtitle>{{ tiempo?.avgTemp.toFixed(1) }} °C</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{ tiempo.avgHum.toFixed(1) }} %
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>




  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Datos Traidos con Capacitor segun Geolocalización del usuario</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">

        <ion-item>
          <ion-label>
            <pre>{{ currentPosition | json}} </pre>
          </ion-label>
        </ion-item>

      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Datos de la API</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item>
          <ion-label>
            <pre>{{tiempo | json}}</pre>
          </ion-label>
        </ion-item>
      </div>
    </ion-accordion>


  </ion-accordion-group>



  <div *ngIf="temperaturasDiarias.length">
    <h2>Clima Diario</h2>
    <ul>
      <li *ngFor="let tiempo of temperaturasDiarias" class="ion-margin-top">
        {{ tiempo.day | date:"longDate"}}:
        <br>
        Temperatura: {{ tiempo.avgTemp.toFixed(1) }} °C,
        Humedad: {{ tiempo.avgHum.toFixed(1) }} %
      </li>
    </ul>
  </div>



  <ion-grid class="ion-margin-top">
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-datetime mode="ios" size="cover" color="primary" presentation="date" #datetime
          (ionChange)="changeDateTime(datetime)"></ion-datetime>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>